name: Format Check

on:
  workflow_dispatch:
  push:
    branches: [ "main", "0.*" ]
  pull_request:
    branches: [ "main", "0.*" ]

jobs:
  clang-format-check:
    name: Format Check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Clang format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-15
          sudo ln -sf /usr/bin/clang-format-15 /usr/bin/clang-format
          clang-format --version
      - name: Run Clang format check
        run: ./scripts/format/check_format.sh
